---
import SectionTitle from "../SectionTitle.astro";
const { title, abilities, options } = Astro.props;

// Use 'title' from props, fallback to 'options.title'
const finalTitle = title !== undefined ? title : options?.title;
---

<div class="sheet-section gap-4">
  <SectionTitle title={finalTitle} />
  <div class="sheet-content grid grid-cols-2 gap-4">
    {
      abilities.map((ability: any) => (
        <div class="sheet-node gap-1">
          <span class="sheet-txt-meta txt-color-accent">{ability.name}</span>
          <span class="text-2xl leading-none font-black">{ability.mod}</span>
          <div class="sheet-txt-meta opacity-60">{ability.label}</div>
          <div class="sheet-badge mt-1">{ability.value}</div>
        </div>
      ))
    }
  </div>
</div>
