---
import ProjectSection from "./SectionBase.astro";

interface Props {
  items: string[];
  title?: string;
  icon?: string;
  id?: string;
  order?: number;
  isSubsection?: boolean;
  parentOrder?: number;
  options?: {
    excludeFromOrder?: boolean;
    barColor?: string;
    compact?: boolean;
  };
}

const {
  items = [],
  title,
  icon,
  id,
  order,
  isSubsection = false,
  parentOrder,
  options,
} = Astro.props;
---

<ProjectSection
  title={title}
  icon={icon}
  id={id}
  order={order}
  isSubsection={isSubsection}
  parentOrder={parentOrder}
  options={options}
>
  <div class="card-list-grid">
    {
      items.map((item, index) => (
        <div class="list-card" style={`--index: ${index}`}>
          <div class="card-number">{index + 1}</div>
          <p>{item}</p>
        </div>
      ))
    }
  </div>
</ProjectSection>

<style>
  @reference "../../styles/global.css";

  .card-list-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    margin-bottom: 1rem;
    justify-content: center;
    max-width: 100%;
    opacity: 70%;
  }

  @media (max-width: 768px) {
    .card-list-grid {
      grid-template-columns: 1fr;
    }
  }

  .list-card {
    background: transparent;
    border: 2px solid var(--text-color);
    border-radius: 25px;
    gap: 1rem;
    padding: 0.75rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .card-number {
    font-family: var(--font-display);
    @apply text-4xl leading-none;
    padding-bottom: 0.7rem;
    color: var(--text-color);
  }

  .list-card p {
    @apply leading-normal font-medium;
    color: var(--text-color);
    margin: 0;
  }
</style>
